body#LoginForm{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}

/*Formatação da imagem*/

figure.foto img{
  width: 10%;
  height: 10%;
  margin-left: 10px;
}

div.btn{
	margin-right: 250px;
	margin-top: 10px;
}