.navbar {
    width:140px;
    height:165px;
    margin-top:-30px;
    margin-left: -5px;
    position:relative;
    /*background-color: rgb(51, 51, 51);*/
    border-radius: 15px 15px 15px 15px;
}

body.corpo{
	background: #BDBDBD;
}


div.borboleta{
	margin-top: -600px;
	margin-left: 475px;
}

div.borboletaCliente{
	margin-top: -650px;
	margin-left: 475px;
}

div.borboletaAdmin{
	margin-top: -700px;
	margin-left: 475px;
}


div.botoesCliente{
	margin-top: 100px;
	margin-left: 650px;
}

div.botoesAdmin{
	margin-top: 0px;
	margin-left: 500px;
}

div.btnLogout{
	margin-top: 0px;
	margin-left: 500px;
}

div.nome{
	margin-top: -40px;
	margin-left: 520px;
}
 


div.table{
	margin-top: -700px;
	margin-left: 125px;

}

div.corpoInserirCliente{
	margin-top: -700px;
	margin-left: 155px;

}

div.corpoInserirProduto{
	margin-top: -680px;
	margin-left: 155px;

}

div.corpoVenda{
	margin-top: -670px;
	margin-left: 155px;

}

div.corpoEditarProduto{
	margin-top: -680px;
	margin-left: 155px;

}

div.corpoEditarCliente{
	margin-top: -680px;
	margin-left: 155px;

}

div.corpoRemoverCliente{
	margin-top: -680px;
	margin-left: 155px;

}

div.corpoRemoverProduto{
	margin-top: -680px;
	margin-left: 155px;

}

div.corpoInserirUser{
	margin-top: -680px;
	margin-left: 155px;

}

input.txtID{
	width: 220px;
}




